<div class="padding-top">
  <div>
    <label>Nome</label>
    <input type="text" v-model="name" required>
  </div>

  <b-button class="mt-4" v-b-modal.modal-prime>Jogar</b-button>

  <b-modal hide-footer id="modal-prime" title="Lista de números primos de 1 a 20.000">
    <b-button class="custom-btn" type="button" v-on:click="proceed">Prosseguir</b-button>
    <prime />
  </b-modal>

  <b-button class="mt-4" v-b-modal.modal-rank>Rank</b-button>

  <b-modal hide-footer id="modal-rank" title="Rank ">
    <b-table striped hover responsive :items="items" :fields="fields"></b-table>
  </b-modal>

</div>
